.event-thumbnail{
  background-color: #f7f8f9;
  color: #4b4c4f;
  position:relative;
  padding: 0;
  border-radius: 5px;
  border: 1px solid #e5e7ea;
  margin-bottom: 40px;
  font-family: Roboto, sans-serif;
  margin-left: 14px;
}
.thumbnail-image {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-size: cover;
  min-height: 200px;
  background-position: center center;
}

.event-thumbnail:hover .thumbnail-image {
  opacity: 0.8;
}

.event-thumbnail:hover .add-to-favorites-toggle-button{
  display: block;
}

.thumbnail-cardheader {
  font-size: 18px;
  color: #4b4c4f;
  margin-left: 8px;
}
.thumbnail-no-highlight:hover{
  text-decoration: none;
}
.thumbnail-category{
  float:right;
  padding: 10px;
  background-color: #a9b9fc;
  border-radius: 2px;
  position: relative;
  top: -12px;
  color: white;
}

.thumbnail-price {
  padding: 10px;
  font-weight: 500;
  border-radius: 2px;
  border: 2px solid darkgrey;
  color: grey;
  font-family: Roboto, sans-serif;
}
.add-to-favorites-toggle-button {
  background-color: #fd5d1d;
  border-radius: 2px;
  padding: 4px;
  color: white;
  position: absolute;
  top: 10px;
  left:10px;
  display: none;
}
.add-to-favorites-toggle {
  background-color: white;
  border-radius: 2px;
  padding: 4px;
  color: #fd5d1d;
  position: absolute;
  top: 10px;
  left:10px;
  display: none;
}
.thumbnail-details {
  padding: 8px;
}
.thumbnail-date {
  font-size: 13px;
}
